:root {
    --dark: #2C3531; 
    --light: #F9FAFB;
    --font: "Roboto Serif", serif;
    --accent: #FFCB9A;
    --primary: #116466;
    --secondary: #D9B08C;
    --neutral: #D1E8E2;
    --text-dark: #222222;
  }  