/* COLOR SCHEME */

:root {
  --bg-color: #1F2A24;          /* Deep neutral green-black */
  --bs-body-bg: #1F2A24 !important; /* Bootstrap Overiding background colour Fix :) - Ibrahim Shehadeh*/

  --text-color: #EAE8DE;        /* Cleaner off-white */
  --accent-color: #8FAF3A;      /* Brighter olive accent */

  --header-bg: #2C3A30;         /* Subtle contrast from bg */
  --border-color: #33473C;      /* Softer borders */
}
