/* COLOR SCHEME */
:root {
  --bg-color: #2E4439;          /* Dark forest green background */
  --bs-body-bg: #2E4439 !important; /* Bootstrap Overiding background colour Fix :) - Ibrahim Shehadeh*/
  --text-color: #E6E4D9;        /* Soft off-white text */
  --accent-color: #6B8E23;      /* Olive drab for highlights */
  --header-bg: #4A6B33;         /* Dark moss green for headers */
  --border-color: #374F33;    
}
